doctype html
html
    include head
        title= navKey
    body
        header
            include menu
        main(role="main")
            .container-fluid
                #carousel-example.carousel.slide(data-ride="carousel", data-interval="false", data-wrap="false")
                    .carousel-inner.row.w-100.mx-auto(role="listbox")
                        each file, idx in files
                            div(class="carousel-item col-12 col-sm-6 col-md-4 col-lg-3" + (idx==0 ? " active" : ""))
                                img.img-fluid.mx-auto.d-block(src=file.tnpath)
                    a.carousel-control-prev(href="#carousel-example", role="button", data-slide="prev")
                        i.fas.fa-chevron-left.fas-lg.text-muted
                        span.sr-only Prev
                    a.carousel-control-next(href="#carousel-example", role="button", data-slide="next")
                        i.fas.fa-chevron-right.fas-lg.text-muted
                        span.sr-only Next
            //.row
                #carousel-example.carousel.slide(data-ride="carousel", data-interval="9000")
                    .carousel-inner.row.w-10.mx-auto(role="listbox")
                        .carousel-item.col-12.col-sm-6.col-md-4.col-lg-3
                            img.img-fluid.mx-auto.d-block(src="//placehold.it/600x400/000/fff?text=1")
                        .carousel-item.col-12.col-sm-6.col-md-4.col-lg-3
                            img.img-fluid.mx-auto.d-block(src="//placehold.it/600x400/000/fff?text=2")
                        .carousel-item.col-12.col-sm-6.col-md-4.col-lg-3
                            img.img-fluid.mx-auto.d-block(src="//placehold.it/600x400/000/fff?text=3")
                        .carousel-item.col-12.col-sm-6.col-md-4.col-lg-3
                            img.img-fluid.mx-auto.d-block(src="//placehold.it/600x400/000/fff?text=4")
                        .carousel-item.col-12.col-sm-6.col-md-4.col-lg-3
                            img.img-fluid.mx-auto.d-block(src="//placehold.it/600x400/000/fff?text=5")
                    a.carousel-control-prev(href="#carousel-example", role="button", data-slide="prev")
                        i.fa.fa-chevron-left.fa-lg.text-muted
                        span.sr-only Prev
                    a.carousel-control-next(href="#carousel-example", role="button", data-slide="next")
                        i.fa.fa-chevron-right.fa-lg.text-muted
                        span.sr-only Next
            //.row.text-center.text-lg-left
                .col-lg-3.col-md-5.col-6.tn-av-out
                        img.img-fluid.img-tn-av(src="https://unsplash.it/380/600?image=1")
                        a.mid-tn-av-blk(href="#")
                            .text.fa.fa-plus-circle
                .col-lg-3.col-md-5.col-6
                    a.d-block.mb-4.h-100(href="#")
                        img.img-fluid.img-thumbnail(src="https://unsplash.it/380/600?image=2")
                .col-lg-3.col-md-5.col-6
                    a.d-block.mb-4.h-100(href="#")
                        img.img-fluid.img-thumbnail(src="https://unsplash.it/380/600?image=3")
                .col-lg-3.col-md-5.col-6
                    a.d-block.mb-4.h-100(href="#")
                        img.img-fluid.img-thumbnail(src="https://unsplash.it/380/600?image=4")
                .col-lg-3.col-md-5.col-6
                    a.d-block.mb-4.h-100(href="#")
                        img.img-fluid.img-thumbnail(src="https://unsplash.it/380/600?image=5")
                .col-lg-3.col-md-5.col-6
                    a.d-block.mb-4.h-100(href="#")
                        img.img-fluid.img-thumbnail(src="https://unsplash.it/380/600?image=6")
            // .row
                .col-sm-2
                    img.img-fluid.m-x-auto.d-block.img-responsive(src='https://unsplash.it/380/600?image=1')
    include footer
