head(lang="en")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // link(href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', rel='stylesheet', type='text/css', media='screen')
    // link(href='https://jqueryui.com/resources/demos/style.css', rel='stylesheet', type='text/css', media='screen')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css', rel='stylesheet', type='text/css', media='screen')
    // bootstrap CDN
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet', type='text/css', media='screen')
    link(href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='./css/main.css', rel='stylesheet', type='text/css', media='screen')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    //script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
    script(src='https://raw.githack.com/SortableJS/Sortable/master/Sortable.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js')
    script(src='./js/client_functions.js')
    script(src='./js/dropzone_config.js')
