head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='style.css', rel='stylesheet', type='text/css', media='screen')
    link(href='https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css', rel='stylesheet', type='text/css', media='screen')
    link(href='https://jqueryui.com/resources/demos/style.css', rel='stylesheet', type='text/css', media='screen')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css', rel='stylesheet', type='text/css', media='screen')
    script(src='https://code.jquery.com/jquery-1.12.4.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src='./js/client_functions.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js')
    script(src='./js/dropzone_config.js')
    style(type="text/css").
        #sortable { list-style-type: none; margin: 0; padding: 0; width: 100%; }
        #sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 0.7em; text-align: center; }


