nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    a(href='#').navbar-brand
        i.fa.fa-home
    button.navbar-toggler(data-target="#navbarSupportedContent" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon
    #navbarSupportedContent.navbar-collapse.collapse.justify-content-stretch
        ul.navbar-nav
            each val, key in { 'home':'Home', 'videos':'My Videos', 'gallery':'Gallery' }
                li.nav-item
                    a(class=(navKey === key ? 'nav-link active' : 'nav-link') href=key)= val
        ul.navbar-nav.ml-auto
            li.nav-item
                a.nav-link(href='/logout') Exit&nbsp;
                    i.fas.fa-sign-out-alt
