html
    script.
        console.log(!{JSON.stringify(user)});
    body
        h1 Hello World!

        if user != null
            p Hi there, #{user.uid}!
        else
            p Hi there, unknown person!