html
    script.
        console.log(!{JSON.stringify(filesData)});
    body
        h1 File uploads

        if user != null
            p Hi there, #{user.uid}!
        else
            p Hi there, unknown person!