doctype html
html
    include head
        title= navKey
    body
        main(role="main")
            .container-fluid
                #carouselExampleSlidesOnly.carousel.slide(data-ride="carousel")
                    .carousel-inner
                        for file in files
                            .carousel-item
                                img.d-block.w-100(src=file.tnpath)
            //.container-fluid.flex-shrink-0
                .row
                    h3 Active Playlist
                    #activeVidsList.card-group.card-group-scroll
                    .clearfix
                .row
                    #avaialableVidsList.text-center.text-lg-left
                    for file in files
                        .col-lg-3.col-md-5.col-6.tn-av-out
                            img.img-fluid.img-tn-av(src=file.tnpath)
                            a.mid-tn-av-blk(href="#")
                                .text.fa.fa-plus-circle
            //.row
                .btn-group.float-right(role="group", aria-label="Example")
                    button.button.btn.btn-secondary Clear
                    button.button.btn.btn-secondary Save
            //.row
                ul.list-inline#testList
                    for file in files
                        li.list-inline-item
                            img(src=file.tnpath)
            // form#mydropzone(action='/upload', class='dropzone')
include footer
