/* remove spacing between columns
.row.no-gutter [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

*/

/* Thumbnails in Available videos section */
.tn-av-out {
    /*
    position: relative;
    width: 50%;
     */
}

.img-tn-av {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.mid-tn-av-blk {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.tn-av-out:hover .img-tn-av {
    opacity: 0.3;
}

.tn-av-out:hover .mid-tn-av-blk {
    opacity: 1;
}

.mid-tn-av-blk .text {
    color: gray;
    font-size: 3vh;
}

.scrolling-wrapper {
    display: flex;
    overflow-x: auto;
}

